.skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 170px;
    height: 115px;
    /*height: 70px;*/
    /*margin-top: 50px;*/
}

.skill__block__icon {
    width: 80px;
}

@media (max-width: 800px) {
    .skill-container {
        margin-top: 10px;
    }
}