.skillBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 170px;
  height: 115px;
}

.skillIcon {
  width: 80px;
}

@media (max-width: 1030px) {
  .skillBlock {
    min-width: 100px;
    flex: 0 1 33%;
  }
}

//@media (max-width: 607px) {
//  .skillBlock {
//    min-width: 75px;
//    flex: 0 1 33%;
//  }
//}

@media (max-width: 767px) {
  .skillBlock {
    min-width: 85px;
    flex: 0;
  }
  .skillIcon {
    width: 75px;
  }
}
