/*.skillsBlock {*/
/*    height: 100vh;*/
/*    background: #a4d979;*/
/*}*/

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 170px;
    height: 115px;
    /*height: 70px;*/
    /*margin-top: 50px;*/
}

.icon {
    width: 80px;
}




@media (max-width: 800px) {
    .skill {
        margin-top: 10px;
    }
}