.projectsContainer {
  flex-direction: column;
  justify-content: center;
}

.projectsWrap {
  min-height: 100vh;
  background-color: #070422;
}

.projectsItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.separatorWaveTop {
  margin-top: -100px;
  display: grid;
}

.separatorWaveBottom {
  margin-bottom: -100px;
  display: grid;
}

@media (max-width: 540px) {
  .projectsContainer {
    flex-direction: inherit;
  }
  .projectsItems {
    justify-content: center;
  }
  .separatorWaveTop {
    margin-top: 0;
  }
  .separatorWaveBottom {
    margin-bottom: 0;
  }
}



@media (max-width: 860px) {
  .projectsItems {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1360px) {
  .projectsItems {
    justify-content: center;
  }
}