.projectsBlock {
    min-height: 100vh;
    background-color: #070422;
}

.projectsContainer {
    flex-direction: column;
    justify-content: center;
}

.title {

}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 800px) {
    .projectsContainer {
        flex-direction: inherit;
    }
    .projects {
        justify-content: center;
    }
}