.skillsBlock {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.skillsContainer {
    flex-direction: row;
    justify-content: center;
}

.title {

}

.skills {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
}

.skillsBlockContainer {
    display: flex;
    align-items: center;
}

.skillsBlockImg {
    display: contents;
}

.skillsBlockImg img {
    width: 45%;
}
.skillsBlockSkills {

}

@media (max-width: 800px) {
    .skillsContainer {
        flex-direction: inherit;
    }

    .skills {
        justify-content: center;
    }
}