.skillsBlcok {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.skillsContainer {
  flex-direction: row;
  justify-content: center;
}

.skillsWrap {
  display: flex;
  align-items: center;
}

.skillsPhoto {
  display: contents;

  img {
    width: 45%;
  }
}

.skills {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 540px) {
  .skillsContainer {
    flex-direction: inherit;
  }
  .skills {
    justify-content: space-between;
  }
  .skillsPhoto {
    display: none;
  }
}
