.project {
  max-width: 380px;
  position: relative;
}

.project__bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  a {
    background: #161625d6;
    padding: 10px 30px;
    color: white;
  }
}

.project__info {
  text-align: center;
}

.text-center {
  text-align: center!important;
}

.opacity-1 {
  opacity: .1;
}

.align-self-center {
  align-self: center!important;
}

.w-100 {
  width: 100%!important;
}

.position-absolute {
  position: absolute!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.lh-base {
  line-height: 1.5!important;
}

.mb-5 {
  margin-bottom: 3rem!important;
}

.position-relative {
  position: relative!important;
}

.d-flex {
  display: flex!important;
}

.text-9 {
  font-size: 36px!important;
  /* font-size: 2.25rem!important; */
}

.text-24 {
  font-size: 5.25rem!important;
}

.border-3 {
  border-bottom: 3px solid;
}

.d-block {
  display: block!important;
}
.heading-separator-line {
  width: 80px;
}

.border-primary {
  border-color: #c6ff00!important;
}

.mx-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}

//.text-24 {
//  font-size: calc(1.95rem + 8.4vw)!important;
//}

.text-uppercase {
  text-transform: uppercase!important;
}
.mb-0 {
  margin-bottom: 0!important;
}