.nav-container {
   width: 100%;
   /*border: 1px solid red;*/
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 24px;
   padding-right: 24px;
   min-height: 64px;
}

.nav a {
   color: #fafafa;
   margin-right: 32px;
   padding: 6px 8px;
}

.nav :last-child {
   margin-right: 0;
}


