.navContainer {
  a {
    color: #fafafa;
    margin-right: 32px;
    padding: 6px 8px;
  }

  ul {
    display: flex;
  }

  :last-child {
    margin-right: 0;
  }

}

.hamburger {
  display: none;
}

.active {
  color: #c6ff00 !important;
}


//s.open {
//  display: none;
//}
//
//.navItems {
//  /* Стили для закрытого меню */
//  max-height: 0;
//  overflow: hidden;
//  transition: max-height 0.3s ease-in-out;
//}
//
//.navItems.open {
//  /* Стили для открытого меню */
//  max-height: 500px; /* Нужная высота меню */
//}


@media (max-width: 767px) {
  .navContainer {
    .hamburger {
      display: block;
    }

    .navItems {
      display: none;
    }
  }
}

// 767/8
