.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: #99d0fb;
}

.footerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.icon {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 15px;
    background-color: navajowhite;
}

.socialNetworks {
    display: flex;
}

@media (max-width: 700px) {
    .footerContainer {
        justify-content: center;
        flex-wrap: wrap;
    }
}